# Virtual environment
venv/
.env
*.pyc
__pycache__/
db.sqlite3

# Django-specific
media/
staticfiles/
*.log

# Dependencies
*.egg-info/
Pipfile
Pipfile.lock

# VSCode & IDEs
.vscode/
.idea/

# Migrations
**/migrations/*
!**/migrations/__init__.py