/* reset default link styles to override -webkit-any-link */
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--distant-lilac);
  color: #000000;
}

#root {
  text-align: center;
}
.circle {
  width: 400px;
  height: 400px;
  background-color: white; /* Optional: Set a background color */
  border-radius: 50%;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container-horizontal {
  flex-direction: row;
}

.container-small {
  padding: 5px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25px;
  width: 80%;
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.container-left {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.container-submit-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-left, .sidebar {
  flex: 2;
  background-color: var(--smoked-verbena);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-right, .main-content {
  flex: 3;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  width: 100%;
}

.sidebar {
  flex: 1;
  background-color: var(--white);
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

.main-content {
  flex: 5;
  display: flex;
  flex-direction: column;
  background-color: var(--distant-lilac);
  justify-content: flex-start;
  padding-top: 20px;
}

.header-container {
  background-color: var(--white);
  height: 70px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
  padding: 10px;
}

.profile-header {
  background-color: var(--smoked-verbena);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 0 20px;
  border-radius: 30px;
}

.frontTitle {
  font-size: 64px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 85px;
}

.emphasis {
  color: var(--mulberry);
  font-weight: 600;
  font-style: italic;
}

.smallText {
  font-size: 20px;
}

.password-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.vertical-divider {
  width: 100px;
  height: auto;
  display: inline-block;
}

.horizontal-divider {
  width: auto;
  height: 100px;
  display: inline-block;
}

.button {
  position: relative;
  align-items: center;
  background-color: var(--smoked-verbena);
  justify-content: center;
  color: var(--white);
  font-family: 'Inter Variable', sans-serif;
  display: inline-flex;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  outline: none;
  box-shadow: none;
  border-style: solid;
}

.button-big {
  border-radius: 30px;
  flex-direction: column;
  gap: 8px;
  height: 60px;
  overflow: hidden;
  position: relative;

  font-size: 32px;
  font-weight: 500;
  width: 400px;
}

.button-small {
  height: 45px;
  width: 250px;
  font-size: 24px;
  font-weight: 500;
  border-radius: 15px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: var(--mulberry);
}

.button:hover {
  opacity: 0.8;
}

.input {
  background-color: var(--white);
  /*border: 1px solid;*/
  height: 60px;
  width: 604px;
  border-radius: 30px;
  border-color: transparent;
  padding: 12px 20px;
  font-size: 30px;
  font-family: 'Inter Variable', sans-serif;
  font-weight: 500;
  border: 1px #c0c0c0 solid;
  color: #000000;
  outline: none;
  box-shadow: none;
}

.tightText{
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
}

.backArrow {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.home-logo {
  color: var(--mulberry);
  font-size: 24px;
  font-weight: bold;
  max-width: 100%;
  word-break: break-word;
}

@media (max-width: 600px) {
  .home-logo {
    font-size: 16px;
  }
}

.topRight {
  position: absolute;
  top: 10px;
  right: 0;
  width: 100px;
  height: 100px;
}

.controlButton-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.stopwatch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.digit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.digits {
  font-size: 96px;
  font-weight: bold;
  color: var(--mulberry);
}


/* UnderlineInput Component Styles */
.underline-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}

.underline-input-label {
  transition: color 0.3s;
  color: #4a5568;
  text-align: left;
  font-size: 30px;
  margin-bottom: 10px;
}

.underline-input-label.focused {
  color: var(--smoked-verbena);
}

.underline-input-required {
  color: var(--urgent-indigo);
}

.underline-input-field {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #d1d5db;
  outline: none;
  transition: border-color 0.3s;
  color: #000000;
  font-size: 30px;
}

.underline-input-field.focused {
  border-color: var(--smoked-verbena);
}

.underline-input-field.error {
  border-color: var(--urgent-indigo);
}

.underline-input-field.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.underline-input-error {
  color: var(--urgent-indigo);
}

.underline-input-right-label {
  font-size: 20px;
  color: var(--urgent-indigo) !important; /* !important */
  font-style: italic;
  text-decoration: none !important; /* !important */
}

.underline-input-label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}