

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --distant-lilac: rgba(242, 242, 255, 1);
  --mulberry: rgba(100, 67, 119, 1);
  --smoked-verbena: rgba(100, 67, 153, 1);
  --sweet-lilac: rgba(224, 191, 237, 1);
  --urgent-indigo: rgba(119, 111, 237, 1);
  --very-bad-red: rgba(209, 45, 21, 1);
  --very-good-green: rgba(9, 165, 43, 1);
  --white: rgba(255, 255, 255, 1);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}